.container{
  position:initial;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
.nav{
  overflow: hidden;
  height: 10%;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul{
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  
}
.nav ul li{
  display: inline;
  font-weight: bold;
}
.searchbar a input{
  display: none;
  border: none;
  background-color: transparent;
}
.searchbaractive{
  width:240px;
  border-radius: 30px;
  padding: 2px 30px;
  align-content: center;
  border: 2px black solid;
}
.searchbaractive a{
  display: flex;
  align-items: center;
}
.searchbaractive a input{
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 5px;
  font-size: large;
  background-color: transparent;
}
.searchbaractive a input:active{
  border: none;
  outline: none;
}
.digi{
  display: flex;

}
.digiactive{
  display: none;
}
.verticalnav{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: black;
  color: aliceblue;
  height: 100vh;
  width: 30%;
  top: 0%;
  left: 100%;
  transition: transform 1s ease-in-out;
}
.verticalnavactive{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  color: rgb(38, 83, 122);
  height: 100vh;
  width: 30%;
  top: 0%;
  left: 70%;
}
.burger{
  z-index: 10;
}

