.digianimation{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;

}
.digianimation h1{
    font-size: 124px;
    color: black;
}