
.container{
  background-color: #23272b;
}
.loginsignup {
  font-weight: bold;
  background-color: #8cc0df;
  border: none;
  color: #2a3e50;
  padding: 1vh 3vw;
  margin-left: 5vw;
}

/* login pages */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2faff;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login h1 {
  text-align: center;
}
.login input {
  border: none;
  background-color: #f2faff;
  padding: 2vh 3vw;
  display: block;
  margin-bottom: 2vh;
  width: 40vw;
}
.sumbit {
  margin-top: 2vh;
  width: 40vw;
  padding: 2vh 3vw;
  border: none;
  font-weight: bold;
  color: #23272b;
  font-size: large;
  background-color: #8cc0df;
}
.login a {
  text-decoration: underline;
  cursor: pointer;
}
.login p {
  text-align: left;
}
