.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login h1{
  text-align: center;
}
.login input{
  background-color: #F2FAFF;
  padding: 2vh 3vw;
  display: block;
  margin-bottom: 2vh;
  width: 40vw;
}
.sumbit{
  margin-top: 2vh;
  width: 46vw;
  padding: 2vh 3vw;
  border: none;
  font-weight: bold;
  color: #23272B;
  font-size: large;
  background-color: #8CC0DF;
}
.login a{
  text-decoration: underline;
  cursor: pointer;
}
.login p{
  text-align: left;
}
.redborder{
  border: 2px solid red;
}
.noborder{
  border: none;
}
